<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.disen.booklisting">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/MyTheme"
            android:screenOrientation="fullSensor"
            android:label="Home" />
        <activity
            android:name=".BooksListview"
            android:screenOrientation="fullSensor"
            android:label="list of books" />
        <activity
            android:name=".CheckOut"
            android:screenOrientation="fullSensor"
            android:label="Book details" />
        <activity
            android:name=".SearchBooks"
            android:screenOrientation="fullSensor"
            android:label="Search" />
        <activity
            android:name=".Search_settings"
            android:label="@string/search_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Search_settings" />
        </activity>
        <activity android:name=".Main_settings"
            android:label="@string/main_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main_settings"></meta-data>
        </activity>
    </application>

</manifest>